click==8.1.8
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==2.2.2
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
pyxel==2.3.0
pyxel-universal-font==1.1.1
